*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
    background-color: rgba(0,0,0,0.7);
  }
  
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }

  h1 {
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 2rem;
  }
  
  input[type="text"],
  input[type="password"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  input[type="submit"]{
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: black;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid black;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  
  
  label {
    display: block;
    margin-bottom: 8px;
  }

  .check-choices, .check-choice{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
  }


  .login{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .pw, .un{
      margin: 2rem;
      text-align: center;
      width: 100%;
  }
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }
  
  /* a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: black;
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid black;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  */



  /* Responsiveness */

  @media only screen and (min-width:781px) and (max-width:1080px){
    body{
      padding-top: 15%;
    }
  }

  @media only screen and (max-width:780px){
    .check-choices{
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .check-choices label{
      padding-right: 3rem;
    }

    .login{
      justify-content: space-evenly;
    }

    input[type="password"], .login input[type="text"]{
      width: 12rem;
    }
  }

  @media only screen and (max-width:480px){

    input[type="password"], .login input[type="text"]{
      width: 10rem;
    }

    .check-choices label{
      padding-right: 1rem;
    }
    .check-choice label{
      padding-right: 0.3rem;
    }
  }

 